name: Lint Commit Messages

on:
  pull_request:
  push:
    branches-ignore: [main]

jobs:
  commitlint:
    if: github.actor != 'dependabot[bot]'

    runs-on: ubuntu-latest

    steps:
      - uses: step-security/harden-runner@8ca2b8b2ece13480cda6dacd3511b49857a23c09 # 2.5.1
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
      - name: Checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # 3.5.3
        with:
          fetch-depth: 0

      - name: Lint
        uses: wagoid/commitlint-github-action@6319f54d83768b60acd6fd60e61007ccc583e62f # 5.4.3
        with:
          configFile: package.json
          failOnWarnings: true
